.duruexell-product {
    .ower-name {
    text-align: center;
    background: #13338b;
    color: #ffffff;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 4.2rem;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 2px;
}
}

.product-image {
    text-align: center;
}

.product-image img {
    max-width: 250px;
    width: 100%;
    border-radius: 15px;
}
